# **First Class of the Semester**


This is a **markdown** cell.
Markdown cells help organize the notebook, explain what the code is doing, and provide context for readers without executing any code. They are useful for outlining steps, describing assumptions, and making the notebook easier to read and understand.

In [ ]:
This is a coding cell

SyntaxError: invalid syntax (ipython-input-2286775281.py, line 1)

In [ ]:
# This is a coding cell
import pandas as pd
import numpy as np

Code cells are used to write and run executable Python code. They perform computations, manipulate data, and produce outputs such as printed results, tables, or figures. When a code cell is run, the code is executed in order and the results are displayed directly below the cell.

Packages in Python are organized collections of code that include functions and other tools, making it easier to reuse and manage related functionality in a program.

Code below loads the data from a file into Python as a table (DataFrame) named roster using pandas.

In [ ]:
roster=pd.read_csv('roster_453.csv')

The head method (function) displays top 5 rows of the data.

In [ ]:
roster.head()

  Section         Student Name                Major
0       A       Ajmera, Arshia            Marketing
1       A  Andrushchak, Olesya            Marketing
2       A      Bianchi, Kyle D  Information Systems
3       A      Bothwell, Ema R           Management
4       A       Bruno, Katie A            Marketing

Below code is used to filter the data.

In [ ]:
roster_section=roster[roster['Section']=='A']

In [ ]:
roster=roster[roster['Section']=='A']

In [ ]:
roster_section=roster[roster['Section']!='B']

In [ ]:
roster_section.head()

  Section         Student Name                Major
0       A       Ajmera, Arshia            Marketing
1       A  Andrushchak, Olesya            Marketing
2       A      Bianchi, Kyle D  Information Systems
3       A      Bothwell, Ema R           Management
4       A       Bruno, Katie A            Marketing

In [ ]:
roster_section.Major.value_counts()

Major
Accountancy                20
Marketing                  12
Information Systems        11
Supply Chain Management    10
Management                  5
Finance                     5
Operations Management       3
Name: count, dtype: int64

In [ ]:
roster_section.Major.value_counts(normalize=True)

Major
Accountancy                0.303030
Marketing                  0.181818
Information Systems        0.166667
Supply Chain Management    0.151515
Management                 0.075758
Finance                    0.075758
Operations Management      0.045455
Name: proportion, dtype: float64

This line extracts the Student Name column from roster_section and converts it into a Python list called student_names.

In [ ]:
student_names=roster_section['Student Name'].tolist()

In [ ]:
student_names

['Ajmera, Arshia',
 'Andrushchak, Olesya',
 'Bianchi, Kyle D',
 'Bothwell, Ema R',
 'Bruno, Katie A',
 'Burke, Brendan T',
 'Capesius, Gianna M',
 'Casas, Edith',
 'Casotti, Nathaniel',
 'Conlon, Matt P',
 'Converse, Kate M',
 'Dharpawwar, Sripad S',
 'Dragan, Colin',
 'Dzielska, Justyna',
 'Feygin, Gabrielle L',
 'Gatych, Victoria G',
 'Gibbons, Brendan T',
 'Gomez, Anthony E',
 'Gurrapu, Lalit',
 'Habdas, Victoria O',
 'Hinterhauser, Peyton',
 'Hooker, Juliana V',
 'Irawan, Nevina',
 'Jacob, Alex',
 'Justic, Annie E',
 'Karthan, Schyler E',
 'Khan, Haaris',
 'Konopinski, Egan T',
 'Kota, Sanjana S',
 'Lee, Aidan M',
 'Lutterodt, Makaelyn',
 'Ly, Adeline L',
 'Lynn, Chris W',
 'Ma, Sophia Y',
 'Marsico, Zachary R',
 'Marvel, Ella T',
 'May, Bianca P',
 'McCormick, Grace M',
 'Mei, Helen',
 'Miller, Ryan J',
 'Moran, Jack M',
 'Morris, Andrea',
 'Murphy, Aidan N',
 'Nelligan, Kiley A',
 'Nelson, Joshua M',
 'Onthuam, Ada',
 'Petrova, Iris',
 'Pugh, Nathan',
 'Quinn, Holden P',
 'Roman, Janet',
 'Sachs, Hannah N',
 'Salgado, Brian',
 'Sam, Sam',
 'Sanchez, Kylie',
 'Sauers, Emma M',
 'Sellers, Alec M',
 'Simpson, Brian D',
 'Staszel, Daniel',
 'Stein, Charlie E',
 'Sweis, Layla H',
 'Tinoco, Jesus',
 'Tolentino, Samantha',
 'Trager, Sasha E',
 'Upfold, Jack H',
 'Yoon, Francesca H',
 'Youssief, George A']

What does the below code do?

In [ ]:
number_students=len(student_names)

What is the purpose of the print function?

In [ ]:
print(number_students)

66

In [ ]:
student_names

['Ajmera, Arshia',
 'Andrushchak, Olesya',
 'Bianchi, Kyle D',
 'Bothwell, Ema R',
 'Bruno, Katie A',
 'Burke, Brendan T',
 'Capesius, Gianna M',
 'Casas, Edith',
 'Casotti, Nathaniel',
 'Conlon, Matt P',
 'Converse, Kate M',
 'Dharpawwar, Sripad S',
 'Dragan, Colin',
 'Dzielska, Justyna',
 'Feygin, Gabrielle L',
 'Gatych, Victoria G',
 'Gibbons, Brendan T',
 'Gomez, Anthony E',
 'Gurrapu, Lalit',
 'Habdas, Victoria O',
 'Hinterhauser, Peyton',
 'Hooker, Juliana V',
 'Irawan, Nevina',
 'Jacob, Alex',
 'Justic, Annie E',
 'Karthan, Schyler E',
 'Khan, Haaris',
 'Konopinski, Egan T',
 'Kota, Sanjana S',
 'Lee, Aidan M',
 'Lutterodt, Makaelyn',
 'Ly, Adeline L',
 'Lynn, Chris W',
 'Ma, Sophia Y',
 'Marsico, Zachary R',
 'Marvel, Ella T',
 'May, Bianca P',
 'McCormick, Grace M',
 'Mei, Helen',
 'Miller, Ryan J',
 'Moran, Jack M',
 'Morris, Andrea',
 'Murphy, Aidan N',
 'Nelligan, Kiley A',
 'Nelson, Joshua M',
 'Onthuam, Ada',
 'Petrova, Iris',
 'Pugh, Nathan',
 'Quinn, Holden P',
 'Roman, Janet',
 'Sachs, Hannah N',
 'Salgado, Brian',
 'Sam, Sam',
 'Sanchez, Kylie',
 'Sauers, Emma M',
 'Sellers, Alec M',
 'Simpson, Brian D',
 'Staszel, Daniel',
 'Stein, Charlie E',
 'Sweis, Layla H',
 'Tinoco, Jesus',
 'Tolentino, Samantha',
 'Trager, Sasha E',
 'Upfold, Jack H',
 'Yoon, Francesca H',
 'Youssief, George A']

The code below generates a random ordering of numbers from `0` to `number_students âˆ’ 1` using NumPy.

In [ ]:
random_sample = np.random.permutation(number_students)

If your name is called stand up and:

In [ ]:
'Introduce yourself, your major/undergraduate degree?'

'Share one way you use data in your daily life?'

'If you could have data on anything what would you want track, why?'

Now display student names in random order.

In [ ]:
i=50
student_names[random_sample[i]]

'McCormick, Grace M'